# FastAPI and Server
fastapi
uvicorn
python-dotenv
python-multipart
# Google AI
google-generativeai # ไลบรารีหลัก
# LangChain and Agents
langchain
langchain_google_genai
langchain-community
# Vector Database
chromadb
# Document Loaders
pypdf
# Agent Tools
duckduckgo-search
tavily-python
# Image Processing
Pillow