# FastAPI and Server
fastapi
uvicorn
python-dotenv
python-multipart
# Google AI
google-generativeai # ไลบรารีหลัก
google-genai==1.28.0
# LangChain and Agents
langchain
langchain_google_genai
langchain-community
# Vector Database
chromadb
# Document Loaders
pypdf
# Agent Tools
duckduckgo_search==8.1.1
tavily-python
# Image Processing
Pillow